JWT_SECRET=din_hemmelige_kode
ADMIN_USER=admin
ADMIN_PASS=lagerpro123

# e-post
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=
EMAIL_FROM="LagerPro <no-reply@lagerpro.local>"
EMAIL_TO=

# sms
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_FROM=
